/**
* Syntax highlighting styles
*/
.highlight {
  margin: $base-spacing 0;
  padding: 0;
  box-shadow: 0px 0px 2px rgba($black-color, .1);

  .highlighter-rouge &,
  &,
  .hll,
  pre,
  code {
    background-color: lighten($light-gray-color, 15%) !important;
  }

  pre {
    margin: 0;
    padding: $base-spacing;
    white-space: pre;
    line-height: 23px;
    overflow-x: auto;
    margin-bottom: 0;
    word-break: inherit;
    word-wrap: inherit;

    &,
    code {
      color: $base-font-color;
    }

    code {
      white-space: pre;
      padding: 0 !important;
      * {
        white-space: nowrap; 
      }
    }
  }

  .rouge-table {
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;

    td {
      padding: 0;
      vertical-align: top;
    }
  }

  .rouge-gutter {
    width: 3.5em; 
    min-width: 3.5em; 
    user-select: none;

    pre {
      color: #666;
      text-align: right;
    }

    td {
      padding: 0;
      vertical-align: top;
    }
  }

  .rouge-code {
    width: 100%;

    pre {
      overflow-x: auto;
      white-space: pre; 
      margin: 0;
      padding: $base-spacing;

      code {
        white-space: pre;

        * {
          white-space: pre;
        }
      }
    }
  }

  .rouge-gutter pre.lineno {
    white-space: pre-wrap;
    display: block;
    line-height: 23px;
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

.highlight,
  .highlight .w {
    color: #586e75;
  }

  .highlight .err {
    color: #002b36;
    background-color: #dc322f;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #657b83;
  }

  .highlight .cp {
    color: #b58900;
  }

  .highlight .nt {
    color: #b58900;
  }

  .highlight .o,
  .highlight .ow {
    color: #93a1a1;
  }

  .highlight .p,
  .highlight .pi {
    color: #93a1a1;
  }

  .highlight .gi {
    color: #859900;
  }

  .highlight .gd {
    color: #dc322f;
  }

  .highlight .gh {
    color: #268bd2;
    background-color: #002b36;
    font-weight: bold;
  }

  .highlight .ge {
    font-style: italic;
  }

  .highlight .ges {
    font-weight: bold;
    font-style: italic;
  }

  .highlight .gs {
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #6c71c4;
  }

  .highlight .kc {
    color: #cb4b16;
  }

  .highlight .kt {
    color: #cb4b16;
  }

  .highlight .kd {
    color: #cb4b16;
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #859900;
  }

  .highlight .sa {
    color: #6c71c4;
  }

  .highlight .sr {
    color: #2aa198;
  }

  .highlight .si {
    color: #d33682;
  }

  .highlight .se {
    color: #d33682;
  }

  .highlight .nn {
    color: #b58900;
  }

  .highlight .nc {
    color: #b58900;
  }

  .highlight .no {
    color: #b58900;
  }

  .highlight .na {
    color: #268bd2;
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #859900;
  }

  .highlight .ss {
    color: #859900;
  }
}
